<!DOCTYPE html>
<html>    
<head>
  <title>Weight Scale Version 1</title>

  <!-- <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/segment7" type="text/css"/> -->
  <link rel="stylesheet" href="ext/css.css">
  <link rel='stylesheet prefetch' href='ext/angular-material.css'>

  <script src="ext/angular.min.js"></script>
  <script src='ext/angular-animate.min.js'></script>
  <script src='ext/angular-route.min.js'></script>
  <script src='ext/angular-aria.min.js'></script>
  <script src='ext/angular-messages.min.js'></script>
  <script src='ext/svg-assets-cache.js'></script>
  <script src='ext/angular-material.js'></script>

  <!-- Amalgam -->
  <link rel="stylesheet" href="styles.css">
  <link rel="import" href="amalgam/amalgam.html">

</head>
<body>
    <div ng-controller="myCtrl">

      <div class="container">
        <span id="lcdDisplay" ng-bind="productName+'\nTotal: '+((productWeight-zeroWeight-currentTare)*productPrice | number : 2)"></span>
        <md-slider min="0" max="10" step="0.5" ng-model="productWeight" aria-label="blue" class="md-primary" id="weightSensor" ></md-slider>
      </div>


      <!-- Weight Scale Interface -->
      <div id="scale" class="light">
        <div class="display">

          <div id="elements" layout="row">

            <div class="weight" flex>
                  <div class="text">
                    <span>Weight g</span>
                    <span class="tare" ng-style="tareStyle">TARE</span>
                  </div>
                  <div class="digits">
                    <span ng-bind="(productWeight-zeroWeight-currentTare) | number : 2" id="weightDigits"></span>
                  </div>
            </div>

            <div class="price" flex>
                  <div class="text">
                    <span>Price $</span>
                  </div>
                  <div class="digits" >
                    <span ng-bind="productPrice | number : 2" id="priceDigits"></span>
                  </div>
            </div>

            <div class="total" flex>
              <div class="text" >
                <span>Total $</span>
              </div>
              <div class="digits">
                <span ng-bind="(productWeight-zeroWeight-currentTare)*productPrice | number : 2" id="totalDigits"></span>
              </div>
            </div>

          </div>

        </div>
      </div>

      <section layout="row">
        <!-- NAV BAR -->
        <md-sidenav class="sidenav" md-component-id="left" md-is-locked-open="true" flex="" >
          <md-button class="md-raised" ng-click="zeroClick()" id="buttonZero">ZERO</md-button>
          <md-button class="md-raised" ng-click="tareClick()" id="buttonTare">TARE</md-button>
        </md-sidenav>
        <!-- PRODUCTS -->
        <div class="scroll-container" flex="">
          <md-grid-list md-cols="1" md-row-height="170px" md-gutter="1em">
            <md-grid-tile ng-repeat="tile in tiles" ng-click="productClick($index)">
              <img ng-src="{{tile.image}}" alt="beer" layout-fill>
              <md-grid-tile-footer class="productTitle">
                <div layout="row">
                  <span class="productText" flex="">{{tile.text}}</span>
                  <span class="productPrice" flex="">${{tile.price}}</span>
                </div>
              </md-grid-tile-footer>
            </md-grid-tile>
          </md-grid-list>
        </div>
      </section>

    </div>

    <script>

      // ## Angular app
      
      var app = angular.module('myApp', ['ngMaterial', 'amalgam']);
      app.controller('myCtrl', function($scope, $compile, $interval, $timeout) {

        $scope.productWeight = 0;
        $scope.zeroWeight = 0;
        $scope.productPrice = 0;
        $scope.currentTare = 0;
        $scope.productName = "";
        $scope.tareStyle = {'visibility': 'hidden'};
        var hardwareWeight = 0;
        
        

        $scope.tiles = [
          { text: 'Chicken Box', price:25, image: 'img/chicken.jpg' },
          { text: 'Meat', price:8, image: 'img/meat.jpg'},
          { text: 'Avocado', price:1.75, image: 'img/avocado.jpg'},
          { text: 'Tomato', price:0.85, image: 'img/tomato.jpg'},
          { text: 'Limes', price:0.72, image: 'img/limes.jpg'}
        ];

        $scope.productClick = function (index) {
          console.log("Product Click: "+$scope.tiles[index].text);
          $scope.productName = $scope.tiles[index].text;
          $scope.productPrice = $scope.tiles[index].price;
        }

        $scope.zeroClick = function() {
          console.log("Zero Click");
          $scope.zeroWeight = $scope.productWeight;
        }

        $scope.tareClick = function() {
          if ($scope.tareStyle.visibility === 'hidden') {
            $scope.tareStyle = {'visibility': 'visible'};
            $scope.currentTare = $scope.productWeight - $scope.zeroWeight;
          } else {
            $scope.tareStyle = {'visibility': 'hidden'};
            $scope.currentTare = 0;
          }
          console.log("Weight:"+ $scope.productWeight);
          console.log("Tare:"+ $scope.currentTare);
        }

      });

    </script>
</body>
</html>

