@font-face {
    font-family: 'Segment7Standard';
        src: url('/assets/fonts/segment7/4cc82137fc130708919bf201c0dc9aae/e5ff00da0a1f8a2cfd6fab51a4b89c16/Segment7Standard.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
      }

 /* The following rules are deprecated. */ 

@font-face {
    font-family: 'Segment7';
        src: url('/assets/fonts/segment7/4cc82137fc130708919bf201c0dc9aae/e5ff00da0a1f8a2cfd6fab51a4b89c16/Segment7Standard.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
      }

